.form-section select {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Ensure readability */
  background-color: #fff;
  box-sizing: border-box;
  margin-top: 5px;
}

.form-section input,
.form-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
  margin-top: 5px;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}
